.signup_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 390px;
  text-align: center;
}

.flex_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup_container h2 {
  margin-bottom: 20px;
}

.form_group {
  margin-bottom: 20px;
  margin-left: 5px;
}

.form_group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form_group input, .form_group select {
  width: 100%;
  padding: 8px;
  height: 35px;
  box-sizing: border-box;
}

.form_group button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.form_group button:nth-child(2) {
  margin-top: 5px;
  background-color: #f44336;
}